/* This is the Jxm Social CSS file */





/* this section contains all of the css for tho public profile page, note some of this css affects stuff in other areas of the instance */





/* page background color, this also changes the background on the about page, and the main account page */

body {
    background: #fff;
}






/* background color of toots */

.activity-stream .entry {
    background: #619367;
}





/* jxm social image background color */

.hero-widget__text {
    background: #619367;
}





/* toot text and icon colors, this also afects the toots on the main account page */

.reply-indicator__content, .status__content {
    color: #000;
}

.account__display-name strong, .status__display-name strong {
    color: #000;
}

.status__display-name {
    color: #464646;
}

.notification__relative_time, .status__relative-time, .status__visibility-icon {
    color: #464646;
}

.load-more {
    color: #000;
}

.icon-button {
    color: #000;
}

.status__action-bar__counter__label {
    color: #000;
}

.status__content__read-more-button {
    color: #464646;
}

.reply-indicator__content .status__content__spoiler-link, .status__content .status__content__spoiler-link {
    background: #8d9193;
}

.reply-indicator__content a, .status__content a {
    color: #464646;
}

.status-card__title {
    font-weight: 500;
    color: #000;
    white-space: nowrap;
}

.status-card {
    font-size: 14px;
    color: #464646;
}

.hero-widget__text {
    font-size: 15px;
    color: #000;
    line-height: 20px;
    word-wrap: break-word;
    font-weight: 400;
}





/* top bar colors, affects the explor page ass well */

.public-layout .header .brand svg {
    fill: #000;
}

.public-layout .header {
    background: #98ca6e;
}

.public-layout .header .nav-link {
    color: #000;
}

.public-layout .header .nav-button {
    background: #8d9193;
}





/* profile background picture box css */ 

.public-layout .public-account-header__bar::before {
    background: #619367;
}

.public-layout .public-account-header__tabs__tabs .counter .counter-number {
    color: #000;
}

.public-layout .public-account-header__tabs__tabs .counter {
    color: #000;
}

.public-layout .public-account-header__tabs__tabs .counter {
    color: #000;
    border-right: 1px solid #000;
}

.button.logo-button {
    background: #8d9193;
    color: #000;
}

.public-layout .public-account-header__tabs__name h1 small {
    color: #000;
}

.public-layout .public-account-header__tabs__name h1 {
    color: #000;
    text-shadow: 1px 1px 1px #000;
}





/* toots, toots and replies, and media bar colors */

.account__section-headline a.active, .account__section-headline button.active, .notification__filter-bar a.active, .notification__filter-bar button.active {
    color: #000;
}

.account__section-headline a, .account__section-headline button, .notification__filter-bar a, .notification__filter-bar button {
    color: #000;
}

.account__section-headline, .notification__filter-bar {
    background: #8d9193;
    border-bottom: 1px solid #000;
}






/* profile links and info box */

.account__header__fields dt {
    color: #000;
    background: #98ca6e;
}

.account__header__fields .verified__mark {
    color: #000;
}

.public-layout .public-account-bio .account__header__fields .verified a {
    color: #464646;
}

.account__header__fields .verified {
    border: 0px solid #000;
    background: #619367;
}

.account__header__fields dd {
    flex: 1 1 auto;
    color: #000;
}

.account__header__fields {
    border-color: #000 currentcolor;
}

.public-layout .public-account-bio .account__header__content {
    color: #000;
}

.public-layout .public-account-bio .roles, .public-layout .public-account-bio__extra {
    color: #000;
}

.public-layout .public-account-bio {
    background: #619367;
}

.account-role.admin, .simple_form .recommended.admin {
    color: #000;
    background-color: #98ca6e;
    border-color: #000;
}

.account__header__fields dl {
    display: flex;
    border-bottom: 1px solid #000;
}





/* featurd accounts area css, note i left other css stuff besids the color so that this area better fits in with the theme */

.endorsements-widget h4 {
    padding: 10px;
    color: #000000;
    background-color: #8d9193;
    border-bottom: 1px solid #000;
}

.account {
    padding: 10px;
    border-bottom: 1px solid #000000;
}

.account .account__display-name {
    color: #464646;
    background: #619367;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -10px;
    margin-bottom: -10px;
}





/* links at bottom of the page */

.public-layout .footer .grid .column-2 h4 a {
    color: #000;
}

.public-layout .footer h4 {
    color: #000;
}

.public-layout .footer .brand svg {
    fill: #464646;
}

.public-layout .footer ul a {
    color: #464646;
}





/* toot thread colors */

.detailed-status {
    background: #619367;
}

.detailed-status__meta {
    color: #464646;
}

.detailed-status__display-name strong {
    color: #000;
}

.detailed-status__display-name {
    color: #464646;
    line-height: 24px;
}





/*css for the following, and followers page */

.card__bar {
    background: #8d9193;
}

.card__bar .display-name span {
    color: #464646;
}

.card__bar .display-name strong {
    color: #000;
}










/* this section contains all of the css about page */

.landing__brand svg {
    fill: #000;
}

.brand__tagline {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50px;
    width: 300px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}





/* css for the bottom right box */

.hero-widget__text a {
    color: #000;
}

.landing .hero-widget h4 {
    color: #000;
}

.landing .hero-widget__counter span {
    font-size: 14px;
    color: #000;
}

.landing .hero-widget__footer {
    background: #619367;
    padding: 10px;
    border-radius: 0 0 4px 4px;
    display: flex;
}

.landing .hero-widget__counter strong {
    color: #000;
}





/* css for the login box, note some of this stuff affects the sign up box, and prefernces area as well */

.simple_form .hint a {
    color: #464646;
}

.simple_form .block-button, .simple_form .button, .simple_form button {
    background: #8d9193;
    color: #000;
}

.box-widget {
    background: #619367;
}

.simple_form input[type="email"], .simple_form input[type="number"], .simple_form input[type="password"], .simple_form input[type="text"], .simple_form textarea {
    color: #fff;;
    background: #8d9193;
}

.simple_form input[type="email"], .simple_form input[type="number"], .simple_form input[type="password"], .simple_form input[type="text"], .simple_form textarea {
    border: 1px solid #000;
}






/* css for the signup box, includes some css for the registrations closed text */

.rich-formatting h1, .rich-formatting h2, .rich-formatting h3, .rich-formatting h4, .rich-formatting h5, .rich-formatting h6 {
    color: #000;
}

.simple_form__overlay-area__overlay__content.rich-formatting, .simple_form__overlay-area__overlay__content.rich-formatting p {
    color: #000;
}

.simple_form__overlay-area__overlay {
    background: #8d9193;
}





/* css for the bottom left boxes */

.directory__tag > a, .directory__tag > div {
    background: #8d9193;
}

.directory__tag h4 small {
    color: #000;
}

.directory__tag h4 {
    color: #000;
}

.directory__tag h4 .fa {
    color: #000;
}





/* this area contains css for the explor page */





/* css for the account boxes */

.directory__card__extra {
    background: #8d9193;
}

.accounts-table__count {
    color: #000;
}

.accounts-table__count small {
    color: #000;
}

.directory__card__extra .account__header__content {
    border-bottom: 1px solid #000;
}

.account__header__content {
    color: #000;
}

.directory__card__bar {
    background: #adb0b2;
}

.directory__card__bar .display-name strong {
    color: #000;
}

.directory__card__bar .display-name span {
    color: #464646;
}





/* css for the box at the top of the page */

.page-header {
    background: #8d9193;
}

.page-header h1 {
    color: #000;
}

.page-header p {
    color: #000;
}

/* this sectoin contains all of the css for the main account page */





/* css for toots */

.status {
    border-bottom: 1px solid #000;
}

.column > .scrollable {
    background: #619367;
}

.reply-indicator__content a.unhandled-link, .status__content a.unhandled-link {
    color: #464646;
}

.status__prepend {
    color: #000;
    font-size: 14px;
}

.status-card__image {
    background: #8d9193;
}





/* css for the toot composing area on the multicolumn layout */
.drawer__inner__mastodon {
    background: #619367;
}

.navigation-bar {
    color: #464646;
}

.drawer__inner {;
    background: #619367;
}

.navigation-bar strong {
    color: #464646;
}

.button {
    background-color: #8d9193;
    color: #000;
}

.text-icon-button {
    color: #000;
}

element {
    color: #000;
}

element {
    color: #000;
}

element {
    color: #000;
}

.emoji-button img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1.0;
}



/* css for the top of the  bars in the multi column layout */

.column-header__button {
    color: #000;
}

.drawer__tab {
    color: #000;
}

.drawer__header {
    background: #98ca6e;
}

.column-header {
    background: #98ca6e;
}

.column-header__button {
    background: #98ca6e;
    color: #000;
}

.column-header__icon {
    color: #000;
}

.column-header > button {
    color: #000;
}

.account__section-headline button, .notification__filter-bar button {
    background: #8d9193;
    border: 0;
    margin: 0;
}





/* css for the direct message column */

.empty-column-indicator, .error-column, .follow_requests-unlocked_explanation {
    color: #000;
    background: #619367;
}





/* css for the notifications column, spacificly the prefrences area */

.column-header__collapsible-inner {
    background: #619367;
    padding: 15px;
}

.column-settings__row .text-btn {
    margin-bottom: 15px;
    color: #000;
}

.column-settings__section {
    color: #000;
}

.setting-toggle__label {
    color: #000;
}

.react-toggle--checked .react-toggle-track {
    background-color: #8d9193;
}

.react-toggle--checked .react-toggle-thumb {
    border-color: #fafafa;
}

.react-toggle-thumb {
    border: 1px solid #fafafa;
}





/* css for voting pools */

.notification__message {
    color: #000;
}

.muted .status__content, .muted .status__content a, .muted .status__content p, .muted .status__display-name strong {
    color: #000;
}

.notification__message .fa {
    color: #000;
}

.muted .poll {
    color: #000;
}

.poll__footer {
    color: #000;
}

.poll__link {
    color: #464646;
    font-size: inherit;
}

.muted .poll__chart.leading {
    background: #988797;
}

.muted .poll__chart {
    background: #258f88;
}

.muted .status__avatar {
    opacity: 1.0;
}





/* css for the search box an it's resalts */

.search__input {
    background: #8d9193;
    color: #000;
}





/* css for the getting started column */

.flex-spacer, .getting-started, .getting-started__wrapper {
    background: #619367;
}

.getting-started__footer p {
    color: #000;
    font-size: 13px;
}

.getting-started__footer p a {
    color: #464646;
    text-decoration: underline;
}

.getting-started__footer a {
    color: #464646;
}

.column-link {
    background: #8d9193;
    color: #000;
}

.column-subheading {
    color: #000;
    padding: 8px 20px;
    text-transform: uppercase;
    cursor: default;
}

.column-link__badge, .column-subheading {
    background: #adb0b2;
}



/* css for viewing a post, and a persons profile, in the multi column layout */

.detailed-status__action-bar {
    background: #8d9193;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.column-back-button {
    background: #98ca6e;
    color: #000;
}

.account__header__tabs__name h1 {
    color: #000;
}

.account__header__tabs__name h1 small {
    color: #464646;
}

.account__header__bar {
    background: #adb0b2;
    border-bottom: 1px solid #000;
}

.account__header__bio .account__header__fields a {
    color: #464646;
}

.account__header__account-note label {
    color: #000;
}

.account__header__bio .account__header__content {
    color: #000;
}

.account__header__extra__links a strong {
    color: #000;
}

.account__header__extra__links a {
    color: #000;
}

.column-header > .column-header__back-button {
    color: #000;
}



/* this section contains the css for the preferences area */





/* backgrounds for the perferences area */
body.admin {
    background: #619367;
    padding: 0;
}

.admin-wrapper .sidebar-wrapper__inner {
    display: flex;
    justify-content: flex-end;
    background: #fff;
    height: 100%;
}





/*css for the bar on the right side */

.admin-wrapper .sidebar ul .simple-navigation-active-leaf a {
    color: #000;
    background-color: #98ca6e;
}

.admin-wrapper .sidebar ul a {
    color: #000;
}

.admin-wrapper .sidebar ul a.selected {
    background: #98ca6e;
}

.admin-wrapper .sidebar ul ul {
    background: #8d9193;
    border-radius: 0 0 0 4px;
    margin: 0;
}





/* css for text colors */

.admin-wrapper .content h2 {
    color: #000;
}

.simple_form .input.with_label .label_input > label {
    color: #000;
}

.admin-wrapper .content h4 {
    color: #000;
    border-bottom: 1px solid #000;
}

.simple_form p.hint {
    margin-bottom: 15px;
    color: #000;
}

.simple_form .hint {
    color: #000;
}

.account-role, .simple_form .recommended {
    background-color: #98ca6e;
    border: 1px solid #000;
}

.simple_form .input.with_floating_label .label_input > label {
    color: #000;
}

.simple_form .input.radio_buttons .radio label {
    color: #000;
}

.simple_form .input.boolean .recommended {
    color: #000;
}

.simple_form .input.with_block_label > label {
    color: #000;
}

.simple_form .check_boxes .checkbox label {
    color: #000;
}

.inline-name-tag, .name-tag, a.inline-name-tag, a.name-tag {
    color: #464646;
}

.dashboard__widgets a:not(.name-tag) {
    color: #464646;
}

body {
    color: #000;
}

.admin-wrapper .content .neutral-hint, body .neutral-hint {
    color: #000;

}

.admin-wrapper .content .positive-hint, body .positive-hint {
    color: #b5d0ee;
}

.dashboard__counters__label {
    color: #000;
}

.dashboard__counters__num, .dashboard__counters__text {
    color: #000;
}

.admin-wrapper .content .muted-hint, body .muted-hint {
    color: #000;
}

.filters .filter-subset a {
    color: #464646;
    border-bottom: 2px solid #000;
}

.filters .filter-subset a.selected {
    color: #464646;
    border-bottom: 2px solid #000;
}

.filters .filter-subset strong {
    color: #000;
}

.simple_form .input.with_block_label > label {
    color: #000;
}

a.table-action-link, button.table-action-link {
    color: #000000;
}

.admin-wrapper .content h3 {
    color: #000;
}

.admin-wrapper .content .positive-hint, body .positive-hint {
    color: #000;
}

.admin-wrapper .content .muted-hint a, body .muted-hint a {
    color: #464646;
}

.simple_form .hint code {
    background: #8d9193;
}

.flash-message.notice {
    border: 1px solid #000;
    background: #98ca6e;
    color: #000;
}





/* css for dashbord */

.dashboard__counters > div > a, .dashboard__counters > div > div {
    background: #8d9193;
}





/* css for the follows and followers page */

.batch-table__row {
    border: 1px solid #000;
    background: #adb0b2;
}

.batch-table__row:nth-child(2n) {
    background: #8d9193;
}

.batch-table__toolbar {
    border: 1px solid #000;
    background: #8d9193;
}





/* css far the account perferences */

.table td, .table th {
    border-top: 1px solid #000;
    background: #8d9193;
}





/* css for the rules page */





/* css for text */

.rich-formatting strong {
    color: #000;
}

.rich-formatting li, .rich-formatting p {
    color: #000;
}

.rich-formatting a {
    color: #464646;
}

.rich-formatting table tbody tr, .rich-formatting table thead tr {
    color: #000;
}

.rich-formatting table thead tr {
    color: #000;
}





/* css for the boxes */

.table-of-contents li a {
    color: #000;
    border-bottom: 1px solid #000;
}

.table-of-contents {
    background: #619367;
}

.information-board__section span:last-child {
    color: #000;
}

.information-board__section strong {
    color: #000;
}

.landing-page__call-to-action .row__information-board .information-board__section {
    color: #000;
    margin-right: 230px;
    margin-left: -230px;
}

.landing-page__call-to-action {
    background: #619367;
    width: 960px;
}

.contact-widget > a {
    color: #464646;
}

.contact-widget h4 {
    color: #000;
}





/* css for the rules list */

.rules-list {

    background: #8d9193;
    border: 1px solid #000;

}

.rules-list__text {

    color: #000;

}

.rules-list li {

    border-bottom: 1px solid #000;

}

/* css for the scroll bar on jxm social */

html {
    scrollbar-color: #8d9193 #0000001a;
}
